<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <title>{% block title %} EventList {% endblock %}</title>
    <meta
      name="description"
      content="EventList is an event listing and management application"
    />
    <meta
      name="keyword"
      content="events , event creation , event listing, event management"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body></body>
</html>
