{% extends "events/base.html" %} 
{% block title %} Dashboard {% endblock %}
<body class="bg-milk">
    {% block content %}
        <main class="pad-space">
            <h2 class="center-text mb-2 events-summary">Your Events Summary </h2>
            <section class="grid-container grid-column">
                <section class="dashboard-card">
                    <h3>Total Events Created</h3>
                    <summary>{{ total_events_created }}</summary>
                    {% if total_events_created > 0 %}
                        <a href="{% url 'events:user_events' %}" class="btn btn-add ">View</a>
                    {% else %}
                        <a  href="{% url 'events:add_event_view' %}"   class="btn btn-add ">Add</a>
                    {% endif %}
                </section>
                <section class="dashboard-card">
                    <h3>Total Events Completed</h3>
                    <summary> {{ total_events_completed }} </summary>
                </section>
                <section class="dashboard-card">
                    <h3>All Attendees Count</h3>
                    <summary>{{ total_attendees }}</summary>
                </section>
            </section>
        </main>
    {% endblock %}
</body>
</html>