{% load static %}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title> EventList : Dashboard </title>
    <meta name="description" content="EventList is an event listing and management application">
    <meta name="keyword" content="events , event creation , event listing, event management">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body class="bg-small">
    <header class="d-flex header-fmt pad-space">
        <h1>
            <a href="{% url 'events:user_dashboard' %}">EventList/a>
        </h1>
        <nav class="navigation">
            <a href="">Hi, {{ username | slice:"10" }}{% if username|length > 10 %}...{% endif %}</a>
            <a href="{% url 'events:add_event_view' %}" class="btn btn-add">Add Event</a>
            <a href="{% url 'events:events_logout' %}" class="btn btn-logout">Logout</a>
        </nav>
    </header>
    <main class="pad-space">
        <h2 class="center-text mb-2 events-summary">Your Events Summary</h2>
        <section class="grid-container one-column three-column">
            <section class="dashboard-card">
                <h3>Total Events Created</h3>
                <summary>{{ total_events_created }}</summary>
                {% if total_events_created > 0 %}
                    <a href="{% url 'events:user_events' %}" class="btn btn-add">View</a>
                {% else %}
                    <a href="{% url 'events:add_event_view' %}" class="btn btn-add">Add</a>
                {% endif %}
            </section>
            <section class="dashboard-card">
                <h3>Total Events Completed</h3>
                <summary>{{ total_events_completed}}</summary>
            </section>
            <section class="dashboard-card">
                <h3>All Attendees Count</h3>
                <summary>{{ total_attendees }}</summary>
            </section>
        </section>
    </main>
</body>
</html>