{% extends "events/base.html" %} 
{% block title %} Dashboard : Edit Event {% endblock %}

<body class="bg-milk">
    {% block content %}
    <main class="pad-space"> 
        <h2 class="center-text">Edit your event Event</h2>
        <form action="{% url 'events:save_edit_event' event.id  %}" method="post"  class="event-form w-70">
            {%csrf_token%}
            <label for="name">Title</label>
            <input type="text" name="title" id="title" value="{{ event.title }}" class="input">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="input">
                {{ event.description }}
            </textarea>
            <label for="venue">Venue</label>
            <input type="text" name="venue" id="venue" value="{{ event.venue}}" class="input">
            <label for="venue">Status</label>
            <select name="status" value="{{ event.status}}" class="input">
                <option value="True">Completed</option>
                <option value="False">Ongoing</option>
            </select>
            <label for="max_attendees">Attendees Count</label>
            <input type="number" name="max_attendees"  value="{{ event.max_attendees}}" class="input">
            <label for="start date">Start Date</label>
            <input type="date" name="start_date" class="input" value="{{ start_date }}">
            <label for="end date">End Date</label>
            <input type="date" name="end_date" class="input" value="{{ end_date }}">
            <input type="submit" value="Save Changes" class="input btn btn-submit">
        </form>
        {% if messages %}
        <div class="modal">
            <article class="modal-main">
                {% for message in messages %} 
                    <div> {{ message }}</div>
                {% endfor %}
            </article>
            <div class="modal-closer">X</div>
        </div>
        {% endif %}
    </main>
    {% endblock %}
</body>
</html>