{% extends "events/base.html" %} 
{% block title %} Dashboard: Event List {% endblock %}

<body class="bg-milk">
    {% block content %}
        <main class="pad-space">
            <section style="width:100%;max-width: 100%;">
                {% if events %} 
                    <table class="table-responsive">
                        <caption >Event Listing </caption> 
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Title</th>
                                <th>Venue</th>
                                <th>Status</th>
                                <th>Attendees Limit</th>
                                <th>Registered Attendees</th>
                                <th>Start Date</th>
                                <th>End Date</th> 
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td> {{ event.title |slice:":15" }}{% if event.title|length > 15 %}...{% endif %} </td>
                                <td> {{ event.venue}} </td>
                                <td>
                                    {% if event.status %}
                                        <span>Completed</span>
                                    {% else %}
                                        <span>Pending</span>
                                    {% endif %}
                                </td>
                                <td> {{ event.max_attendees}} </td>
                                <td> {{ event.attendee_count }} </td>
                                <td> {{ event.start_date}} </td>
                                <td> {{ event.end_date}} </td>
                                <td> <a href="{% url 'events:single_event' event.id %}" class="underline">View</a></td>
                            </tr>
                        </tbody>
                        {% endfor %}

                    </table>
                    

                {% else %} 
                    <p>You currently have no events</p>
                {% endif %}
            </section>
        </main>
    {% endblock %}
</body>
</html>