{% load static %}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title> EventList : Dashboard </title>
    <meta name="description" content="EventList is an event listing and management application">
    <meta name="keyword" content="events , event creation , event listing, event management">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
