{% extends "events/base.html" %} 
{% block title %} Dashboard: Event Detail {% endblock %} 
<body class="milky-body">
    {% block content %}
        <main class="pad-space">
            <section class="event-content-section">
                <div>
                    <header>
                        {% if event.title %}
                            <h1>{{ event.title}} </h1>
                        {% else %}
                            <h1>Missing Title</h1>
                        {% endif %}
                    </header>
                    <p>Event ID {{ event.id}} </p>
                    <address class="mb-1">Venue : {{ event.venue }} </address>
                    <div class="attendee-overview">
                        <h3 class="mb-1">Attendees Summary </h3>
                        <strong>Expected Attendees : {{ event.max_attendees }} </strong>
                        <strong>Registered Attendees : {{ attendees_count }}</strong>
                        <strong>Ticket Remaining : {{ ticket_remaining }} </strong>
                    </div>
                    <div class="mb-2">
                        <h3>Event Schedule</h3>
                        <p>Starts Date <date>2023-10-10</date> </p>
                        <p> End Date <date>2023-10-10</date> </p>
                    </div>
                    <article class="mb-2">
                        <h2 class="underline mb-2 ">Description</h2>
                        <p class="event-description">
                            {{ event.description }}
                        </p>
                    </article>
                    <div class="button-container">
                        <a href="{% url 'events:delete_single_event' event.id %}"  class="btn btn-danger">Delete</a>
                        <a  href="{% url 'events:edit_event_view' event.id %}" class="btn btn-edit">Edit</a>
                    </div>
                    {% if messages %}
                        <div class="modal">
                            <article class="modal-main">
                                {% for message in messages %} 
                                    <div> {{ message }}</div>
                                {% endfor %}
                            </article>
                            <div class="modal-closer">X</div>
                        </div>
                    {% endif %}
                </div>
            </section>
        </main>
    {% endblock %}
</body>
</html>